@import "/font/css/clash-display.css";
body {
  font-family: "ClashDisplay-Medium";
  font-size: 16px;
  color: #eeeeee;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem !important;
  font-family: "ClashDisplay-Bold";
}

.herobanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.herobanner__icon {
  width: 20vw;
}
.herobanner__icon svg {
  width: 100%;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
.herobanner__icon svg path {
  fill: #eeeeee;
}
.herobanner__TitleAlbum {
  width: 100vw;
  margin-top: auto;
}
.herobanner__TitleAlbum svg {
  width: 100%;
}
.herobanner .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
}
.herobanner .wrap .svg {
  position: absolute;
  transform-style: preserve-3d;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background: url("/public/noise.gif");
}

.slider {
  overscroll-behavior: none;
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.slider__Page {
  width: 100vw;
  height: 100vh;
}
.slider__Page:nth-child(1) {
  background: rgb(130, 0, 162);
}
.slider__Page:nth-child(2) {
  background: rgb(130, 0, 162);
}
.slider__Page:nth-child(3) {
  background: rgb(130, 0, 162);
}

.canva {
  height: 100vh;
  width: 100vw;
  background: rgb(130, 0, 162);
}

@keyframes float-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes float-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.svg:nth-child(1) {
  left: 30%;
  top: 30%;
  animation: float-x 13s ease-in-out infinite, float-y 10s ease-in-out infinite alternate, rotate 25s linear infinite;
  animation-delay: -2s;
  transform: scale(0.55);
  z-index: -6;
  filter: blur(-5px);
  opacity: 0.8;
}
.svg:nth-child(1):hover {
  animation-play-state: paused;
}

.svg:nth-child(2) {
  left: 45%;
  top: 40%;
  animation: float-x 16s ease-in-out infinite, float-y 12s ease-in-out infinite alternate, rotate 30s linear infinite;
  animation-delay: -4s;
  transform: scale(0.7);
  z-index: -5;
  filter: blur(-4px);
  opacity: 0.8;
}
.svg:nth-child(2):hover {
  animation-play-state: paused;
}

.svg:nth-child(3) {
  left: 60%;
  top: 50%;
  animation: float-x 19s ease-in-out infinite, float-y 14s ease-in-out infinite alternate, rotate 35s linear infinite;
  animation-delay: -6s;
  transform: scale(0.85);
  z-index: -4;
  filter: blur(-3px);
  opacity: 0.8;
}
.svg:nth-child(3):hover {
  animation-play-state: paused;
}

.svg:nth-child(4) {
  left: 75%;
  top: 60%;
  animation: float-x 22s ease-in-out infinite, float-y 16s ease-in-out infinite alternate, rotate 40s linear infinite;
  animation-delay: -8s;
  transform: scale(1);
  z-index: -3;
  filter: blur(-2px);
  opacity: 0.8;
}
.svg:nth-child(4):hover {
  animation-play-state: paused;
}

.svg:nth-child(1) {
  animation-timing-function: ease-in-out;
}

.svg:nth-child(2) {
  animation-timing-function: ease-out;
}

.svg:nth-child(3) {
  animation-timing-function: linear;
}

.svg:nth-child(4) {
  animation-timing-function: ease-in;
}

.svg:nth-child(1) {
  animation-direction: alternate;
}

.svg:nth-child(2) {
  animation-direction: alternate-reverse;
}

.svg:nth-child(3) {
  animation-direction: normal;
}

.svg:nth-child(4) {
  animation-direction: reverse;
}

/*# sourceMappingURL=style.css.map */
